.header {
	padding: 16px 0;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__left {
	display: flex;
	align-items: center;
	column-gap: 24px;
}

.header__nav-list {
	display: flex;
	column-gap: 8px;

}

.header__nav-li {
	padding: 6px 8px;
	cursor: pointer;
}

.header__nav-li:first-child {
	position: relative;
	padding: 6px 38px 6px 8px;
}

.header__nav-li:first-child::after {
	content: "";
	width: 16px;
	height: 16px;
	background-image: url('../../img/icon/uiw_down.svg');
	background-repeat: no-repeat;
	position: absolute;
	right: 8px;
	top: 10px;
}

.header__nav-li a {
	text-decoration: none;
	font-size: 16px;
	color: #000;
}

.header__actions {
	display: flex;
	column-gap: 12px;
	align-items: center;
}

.header__search {
	border: 1px solid #ddd;
	border-radius: 51px;
	padding: 16px 28px;
	background-color: #efefef;
	width: 454px;
	height: 44px;
	font-size: 16px;
	color: #999;
}

.header__actions img {
	cursor: pointer;
}

.header__login {
	cursor: pointer;
	font-size: 16px;
	color: #000;
	background-color: #efefef;
	border: 1px solid #ddd;
	border-radius: 51px;
	display: flex;
	align-items: center;
	padding: 16px 28px;
	width: 99px;
	height: 44px;
}

.header__register {
	cursor: pointer;
	border-radius: 51px;
	display: flex;
	align-items: center;
	padding: 16px 28px;
	width: 151px;
	height: 44px;
	background-color: #40a6ff;
	color: #fff;
	font-size: 16px;
	border: none;
}